<div class="wrapper">
  <div class="container">
    <div class="top-bar">
      <p>Units Lists</p>
      <a routerLink="" class="exit"> <i class="bi bi-x-circle"></i> </a>
    </div>

    <ng-container *ngFor="let age of ages">
      <button (click)="onAgesButtonClick(age)">
        {{ age }}
      </button>
    </ng-container>

    <div class="range-container">
      <div class="checkbox-container">
        <ng-container
          *ngFor="let cost of unitsService.costsArray"
          class="check-boxes"
        >
          <div class="checkbox-wrapper">
            <input
              type="checkbox"
              id="{{ cost }} "
              name="cost"
              value="{{ cost }} "
              (click)="unitsService.checkBoxForFilter(cost.cost)"
            />
            <label for=" {{ cost.cost }} ">
              Eneable {{ cost.cost }} Range : </label
            ><br />
          </div>
        </ng-container>
      </div>

      <div class="ranges">
        <div class="range-element" *ngFor="let cost of unitsService.costsArray">
          <input
            type="range"
            class="slider"
            min="0"
            max="200"
            step="1"
            #{{cost}}
            id="{{ cost.cost }}"
            (change)="onRangeFilterChange($event)"
            [disabled]="!cost.openButtonForCost"
          />
          <label for="foodrange"> {{ cost.costValue }} </label>
        </div>
      </div>
    </div>
    <button (click)="showAllDataButton()">Show All</button>

    <div class="unit-list">
      <div class="id tag">
        <p class="header">id</p>
      </div>
      <div class="name tag">
        <p class="header">name</p>
      </div>
      <div class="age tag">
        <p class="header">age</p>
      </div>
      <div class="costs tag">
        <p class="header">costs</p>
      </div>
    </div>

    <div class="list-wrapper">
      <div
        class="unit-list"
        *ngFor="let item of secondaryUnitsData; index as i"
      >
        <a
          routerLink="/units-detail"
          [queryParams]="{ id: item.id }"
          class="link-wrapper"
        >
          <div class="id tag">
            <p>{{ item.id }}</p>
          </div>
          <div class="name tag">
            <p>
              {{ item.name }}
            </p>
          </div>
          <div class="age tag">
            <p>{{ item.age }}</p>
          </div>
          <div class="costs tag">
            <p *ngIf="item?.cost?.Gold">/ Gold : {{ item.cost.Gold }}</p>
            <p *ngIf="item?.cost?.Food">/ Food : {{ item.cost.Food }}</p>
            <p *ngIf="item?.cost?.Wood">/ Wood : {{ item.cost.Wood }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
